/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 06/06/2022 10:28:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[COUNTRY_ID] [varchar](50) NOT NULL,
	[COUNTRY_NAME] [varchar](50) NULL,
	[REGION_ID] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPARTMENT_ID] [numeric](4, 0) NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NOT NULL,
	[MANAGER_ID] [numeric](6, 0) NULL,
	[LOCATION_ID] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [numeric](6, 0) NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PHONE_NUMBER] [varchar](50) NULL,
	[HIRE_DATE] [date] NOT NULL,
	[JOB_ID] [varchar](50) NOT NULL,
	[SALARY] [float] NULL,
	[COMMISSION_PCT] [float] NULL,
	[MANAGER_ID] [numeric](6, 0) NULL,
	[DEPARTMENT_ID] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_HISTORY](
	[EMPLOYEE_ID] [numeric](6, 0) NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[JOB_ID] [varchar](50) NOT NULL,
	[DEPARTMENT_ID] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBS](
	[JOB_ID] [varchar](50) NOT NULL,
	[JOB_TITLE] [varchar](50) NOT NULL,
	[MIN_SALARY] [numeric](6, 0) NULL,
	[MAX_SALARY] [numeric](6, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[LOCATION_ID] [numeric](4, 0) NOT NULL,
	[STREET_ADDRESS] [varchar](50) NULL,
	[POSTAL_CODE] [varchar](50) NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE_PROVINCE] [varchar](50) NULL,
	[COUNTRY_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 06/06/2022 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION](
	[REGION_ID] [tinyint] NOT NULL,
	[REGION_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'AR', N'Argentina', 2)
INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'AU', N'Australia', 3)
INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'BE', N'Belgium', 1)
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(10 AS Numeric(4, 0)), N'Administration', CAST(200 AS Numeric(6, 0)), CAST(1700 AS Numeric(4, 0)))
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(20 AS Numeric(4, 0)), N'Marketing', CAST(201 AS Numeric(6, 0)), CAST(1800 AS Numeric(4, 0)))
INSERT [dbo].[DEPARTMENTS] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(30 AS Numeric(4, 0)), N'Purchasing', CAST(114 AS Numeric(6, 0)), CAST(1700 AS Numeric(4, 0)))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(100 AS Numeric(6, 0)), N'Steven', N'King', N'SKING', N'515.123.4567', CAST(N'2003-06-17' AS Date), N'AD_PRES', 24000, NULL, NULL, CAST(90 AS Numeric(4, 0)))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Numeric(6, 0)), N'Neena', N'Kochhar', N'NKOCHHAR', N'515.123.4568', CAST(N'2005-09-21' AS Date), N'AD_VP', 17000, NULL, CAST(100 AS Numeric(6, 0)), CAST(90 AS Numeric(4, 0)))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(102 AS Numeric(6, 0)), N'Lex', N'De Haan', N'LDEHAAN', N'515.123.4569', CAST(N'2001-01-13' AS Date), N'AD_VP', 17000, NULL, CAST(100 AS Numeric(6, 0)), CAST(90 AS Numeric(4, 0)))
GO
INSERT [dbo].[JOB_HISTORY] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(102 AS Numeric(6, 0)), CAST(N'2001-01-13' AS Date), CAST(N'2006-07-24' AS Date), N'IT_PROG', CAST(60 AS Numeric(4, 0)))
INSERT [dbo].[JOB_HISTORY] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Numeric(6, 0)), CAST(N'1997-09-21' AS Date), CAST(N'2001-10-27' AS Date), N'AC_ACCOUNT', CAST(110 AS Numeric(4, 0)))
INSERT [dbo].[JOB_HISTORY] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Numeric(6, 0)), CAST(N'2001-10-28' AS Date), CAST(N'2005-03-15' AS Date), N'AC_MGR', CAST(110 AS Numeric(4, 0)))
INSERT [dbo].[JOBS] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AD_PRES', N'President', CAST(20080 AS Numeric(6, 0)), CAST(40000 AS Numeric(6, 0)))
INSERT [dbo].[JOBS] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AD_VP', N'Administration Vice President', CAST(15000 AS Numeric(6, 0)), CAST(30000 AS Numeric(6, 0)))
INSERT [dbo].[JOBS] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AD_ASST', N'Administration Assistant', CAST(3000 AS Numeric(6, 0)), CAST(6000 AS Numeric(6, 0)))
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1000 AS Numeric(4, 0)), N'1297 Via Cola di Rie', N'00989', N'Roma', NULL, N'IT')
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1100 AS Numeric(4, 0)), N'93091 Calle della Testa', N'10934', N'Venice', NULL, N'IT')
INSERT [dbo].[LOCATIONS] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1200 AS Numeric(4, 0)), N'2017 Shinjuku-ku', N'1689', N'Tokyo', N'Tokyo Prefecture', N'JP')
INSERT [dbo].[REGION] ([REGION_ID], [REGION_NAME]) VALUES (1, N'Europe')
INSERT [dbo].[REGION] ([REGION_ID], [REGION_NAME]) VALUES (2, N'Americas')
INSERT [dbo].[REGION] ([REGION_ID], [REGION_NAME]) VALUES (3, N'Asia')
